<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>{% block titulo %}Mantenimiento ETSIDI{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/modern-business.css')}}" rel="stylesheet">
    <link href="{{ asset('css/all.css')}}" rel="stylesheet">
    <link href="{{ asset('css/google-fonts.css')}}" rel="stylesheet">
    <link href="{{ asset('css/google-fonts2.css')}}" rel="stylesheet">
    <link href="{{ asset('css/google-fonts3.css')}}" rel="stylesheet">
    <link href="{{ asset('css/google-fonts4.css')}}" rel="stylesheet">
    <!--load all styles -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <!--MENÚ DE NAVEGACIÓN-->

    <nav class="navbar navbar-dark bg-danger  fixed-top navbar-expand-lg fixed-top">
      <div class="container" style="font-family: Saira Extra Condensed">
        <a class="navbar-brand"><img src="{{asset('img/logo_etsidi_mini_negro.png')}}" height="60" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:white" ; data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <pre>         </pre>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" <a href="{{path('solicitudesTrabajador')}}" style="font-family: Saira Extra Condensed;">SOLICITUDES<br />ASIGNADAS</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <pre>           </pre>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link text-white" href="{{ path('portadaUsuario',{'emailcrypt': app.user.emailcrypt, 'email': app.user.username}) }}"><small><i class="fas fa-home"></i></small></a></h5>
            </li>
            <li class="nav-item">
              <pre>      </pre>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ path('instruccionesCompletadas') }}" style="font-family: Saira Extra Condensed;">TRABAJOS<br />COMPLETADOS</a>
            </li>
            <li class="nav-item">
              <pre>    </pre>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Saira Extra Condensed;">
                SOLICITUDES
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="{{ path('nuevaSolicitud',{'emailcrypt': app.user.emailcrypt, 'email': app.user.username}) }}" style="font-family: Saira Extra Condensed;">NUEVA</a>
                <a class="dropdown-item" href="{{ path('asignadas') }}" style="font-family: Saira Extra Condensed;">ASIGNADAS</a>
                <a class="dropdown-item" href="{{ path('pendientesDeAsignar') }}" style="font-family: Saira Extra Condensed;">SIN ASIGNAR</a>
                <a class="dropdown-item" href="{{ path('despachadas') }}" style="font-family: Saira Extra Condensed;">DESPACHADAS</a>
                <a class="dropdown-item" href="{{ path('solicitudes') }}" style="font-family: Saira Extra Condensed;">TODAS</a>
                <a class="dropdown-item" href="{{ path('anuladas') }}" style="font-family: Saira Extra Condensed;">ANULADAS</a>
                <a class="dropdown-item" href="{{ path('suspendidas') }}" style="font-family: Saira Extra Condensed;">SUSPENDIDAS</a>
                <a class="dropdown-item" href="{{ path('prioritarias') }}" style="font-family: Saira Extra Condensed;">PRIORITARIAS</a>
                <a class="dropdown-item" href="{{ path('seleccionaSolicitudes') }}" style="font-family: Saira Extra Condensed;">POR FECHA</a>
                <a class="dropdown-item" href="{{ path('solicitudesTrabajadorGestion') }}" style="font-family: Saira Extra Condensed;">POR TRABAJADOR</a>
                <a class="dropdown-item" href="{{ path('solicitudesUnidadDestino') }}" style="font-family: Saira Extra Condensed;">POR DESTINO SOLICITANTE</a>
              </div>
            </li>

            <li class="nav-item">
              <pre>     </pre>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Saira Extra Condensed;">
                PARTES
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href=""></a>
                <a class="dropdown-item" href="{{ path('seleccionaPartes') }}" style="font-family: Saira Extra Condensed;">SELECCIÓN POR FECHA</a>
                <a class="dropdown-item" href="{{ path('partes') }}" style="font-family: Saira Extra Condensed;">TODOS</a>
              </div>
            </li>

            <li class="nav-item">
              <pre>     </pre>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Saira Extra Condensed;">
                TRABAJADOR
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="{{ path('nuevoTrabajador') }}" style="font-family: Saira Extra Condensed;">NUEVO TRABAJADOR</a>
                <a class="dropdown-item" href="{{ path('desactivarTrabajador') }}" style="font-family: Saira Extra Condensed;">DESACTIVAR TRABAJADOR</a>
                <a class="dropdown-item" href="{{ path('reactivarTrabajador') }}" style="font-family: Saira Extra Condensed;">REACTIVAR TRABAJADOR</a>
              </div>
            </li>

            <li class="nav-item">
              <pre>   </pre>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN')%}
            <li class="nav-item">
              <pre>  </pre>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ path('registro') }}" style="font-family: Saira Extra Condensed;">NUEVO USUARIO</a>
            </li>
            <li class="nav-item">
              <pre>  </pre>
            </li>
            {% endif %}

            <li class="nav-item">
              <pre>    </pre>
            </li>

            <li class="nav-item">
              <h2><a class="nav-link text-white" href="{{ path('estadisticas') }}"><i class="fas fa-chart-bar"></i></a></h2>
            </li>

            <li class="nav-item">
              <pre>   </pre>
            </li>


            <li class="nav-item">
              <pre>    </pre>
            </li>


            <li class="nav-item">
              <a href="{{path('app_logout')}}" class="btn bg-danger"
                style="border-bottom-color:#F4717C;border-top-color:#DC434F;border-left-color:#DC434F;border-right-color:#DC434F;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F54E5C), color-stop(100%,#DC434F)); margin-top:15px;color:white;height: 25px;width:70px;font-family: Saira Extra Condensed;FONT-SIZE: 11pt;padding:0px 10px"
                role="button">SALIR</a>
            </li>


            <li class="nav-item">
              <pre>       </pre>
            </li>


            <li class="nav-item">
              <a class="nav-link text-warning" href="">{{app.user.username}}</a>
            </li>


            <li class="nav-item">
              <pre>                            </pre>
            </li>


            {% else %}

            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a href="{{path('app_logout')}}" class="btn bg-danger"
                  style="border-bottom-color:#F4717C;border-top-color:#DC434F;border-left-color:#DC434F;border-right-color:#DC434F;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F54E5C), color-stop(100%,#DC434F)); margin-top:15px;color:white;height: 25px;width:70px;font-family: Saira Extra Condensed;FONT-SIZE: 11pt;padding:0px 10px"
                  role="button">SALIR</a> </li>

              <li class="nav-item">
              </li>

            </ul>
            {% endif %}
          </ul>
        </div>
      </div>
      </div>
    </nav>
    <!--FIN MENÚ DE NAVEGACIÓN-->
    {% block contenido %}


    <div class="container" style="font-family: Saira Extra Condensed">

      <!-- Page Heading/Breadcrumbs -->
      <div style="margin-top:75px">
        <h1 class=" mt-4 mb-3" style="font-family: Saira Extra Condensed;">Mantenimiento ETSIDI
        </h1>
      </div>


      <!-- Intro Content -->
      <div style="margin-bottom:200px">
        <div class="row">


          <div class="col-lg-6">


          </div>
          <div class="col-lg-6">
          </div>
        </div>

      </div>
    </div>

    {% endblock %}




    <!-- Bootstrap core JavaScript -->
    <script src="{{asset('js/exportacion.js')}}"></script>
    <script src="{{asset('js/genPDF.js')}}"></script>
    <script src="{{asset('js/downloadCanvas.js')}}"></script>
    <script src="{{asset('js/html2canvas.js')}}"></script>
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jspdf.min.js')}}"></script>
    <link href="{{ asset('js/bootstrap-datepicker.min.js')}}" rel="stylesheet">
    <link href="{{ asset('js/bootstrap-datepicker.es.min.js')}}" rel="stylesheet">
    <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% block javascripts %}
    {% endblock %}
  </body>

</html>