{# Plantilla de nuestra aplicación#}
{%extends 'frontal/baseautenticacion.html.twig'%}
{% form_theme form 'form/baseForm.html.twig' %}

{#TITULO#}
{% block titulo %}Mantenimiento ETSIDI{% endblock %}
{#Contenido#}

{% block contenido %}
<!-- Page Content -->


<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div style="margin-top:75px;margin-bottom:23px">
    <h1 class=" mt-4 mb-3">Mantenimiento ETSIDI

    </h1>
  </div>


  <!-- Intro Content -->
  <div style="margin-bottom:75px">
    <div class="row">


      <div class="col-lg-6">

        {{ form_start(form) }}
        <table>
          <tr>
            <td>
              <h7>Usuario</h7>
            </td>
          </tr>
          <tr>
            <td style="width:300px">
              {{ form_widget(form.Usuario)}}</td>
            <td>
              <h7 style="font-style:italic;color: grey"> &nbsp@upm.es</h7>
            </td>
          </tr>
          <tr>
          <tr>
            <td><br /></td>
          </tr>
          <td>
            <h7>Contraseña</h7>
          </td>
          </tr>
          <tr>
            <td>
              {{ form_widget(form.Password) }}</td>
          </tr>
          <tr>
            <td><br /></td>
          </tr>
          <tr>
            <td>
              {{ form_widget(form.Aceptar) }}</td>
          </tr>
        </table>
        {{ form_end(form) }}

      </div>
    </div>

  </div>
</div>

<!-- /.row -->
{% endblock %}
