<!DOCTYPE html>
<html>

  <head>
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <style>
      h1 {
        font-family: 'Passion One', cursive;
        color: #00b5c3;
        font-size: 150px;
        letter-spacing: 15.5px;
        font-weight: 900;
      }

      h2 {
        font-family: 'Raleway', sans-serif;
        color: #292929;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.2px;
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-info  fixed-top navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand"><img src="{{asset('img/Logo.png')}}" height="60" alt=""></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:white" ; data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">

          </ul>
        </div>
      </div>
    </nav>

    {% block contenido %}
    <div style="margin-top:200px; margin-left:100px">
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-2 offset-md-2 align-self-start">
          <h1 class="mt-6">:(</h1>
        </div>

        <div class="col align-self-end">
          <h2 class="mt-6">ERROR DE AUTENTICACIÓN.</h2>
          <h3 class="mt-6" style="font-weight: 400;">Posibles causas:</h3>

          <h4 class="mt-6" style="font-weight: lighter;"><i>Credenciales inválidas</i></h4>

          <h4 class="mt-6" style="font-weight: lighter;"><i>No se pudo conectar con el servidor LDAP</i></h4>
          <a href="{{path('home')}}" class="btn btn-light" style="margin-top:12px;color: grey;background: #EAEDED ;height: 35px;width:100px;FONT-SIZE: 13pt; padding:0px 10px" role="button">Volver</a>

        </div>
      </div>
    </div>
    {% endblock %}

    <footer class="page-footer bg-info fixed-bottom">
      <div class="footer-copyright text-center py-3">
        <img src="{{asset('img/upm.png')}}" style="margin-bottom: 0" height="100" alt="">
      </div>
    </footer>

    <script src="{{asset('js/exportacion.js')}}"></script>
    <script src="{{asset('js/genPDF.js')}}"></script>
    <script src="{{asset('js/downloadCanvas.js')}}"></script>
    <script src="{{asset('js/html2canvas.js')}}"></script>
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jspdf.min.js')}}"></script>
    <link href="{{ asset('js/bootstrap-datepicker.min.js')}}" rel="stylesheet">
    <link href="{{ asset('js/bootstrap-datepicker.es.min.js')}}" rel="stylesheet">
    <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  </body>

</html>