<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block titulo %}CAU MANTENIMIENTO ETSIDI{% endblock %}</title>


    <!-- Google fonts-->
    <link href="{{ asset('css/google-fonts3.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/google-fonts4.css')}}" rel="stylesheet" type="text/css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ asset('css/styles.css')}}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/all.css')}}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/coming-soon.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/shop-homepage.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
  </head>


  <body style="background-color:#E3E5E6; padding-top:30px">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger" id="sideNav">

      <a class="navbar-brand">
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="vertical-align:middle;margin:125px" src="{{asset('img/Logo2.jpg')}}" alt="" /></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" style="text-transform:lowercase; font-size:20px; font-weight:40; color:#D6C9B6; font-family: Saira Extra Condensed">{{email}}</a></li>

          <li class="nav-item"><a class="nav-link text-white" style="font-family: Saira Extra Condensed; font-size:25px;" href="{{path('nuevaSolicitud',{'emailcrypt':emailcrypt, 'email':email})}}">NUEVA SOLICITUD</a></li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ path('solicitudesUsuario',{'emailcrypt':emailcrypt, 'email':email}) }}" style="font-family: Saira Extra Condensed; font-size:25px;">MIS SOLICITUDES</a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item"><a class="nav-link text-white" style="font-family: Saira Extra Condensed; font-size:25px;" href="{{path('base')}}">GESTIÓN</a></li>
          {% endif %}
          {% if is_granted('ROLE_USER') %}
          <li class="nav-item"><a class="nav-link text-white" style="font-family: Saira Extra Condensed; font-size:25px;" href="{{path('solicitudesTrabajador')}}">SOLICITUDES ASIGNADAS</a></li>
          {% endif %}
          <li class="nav-item">
            <a href="{{path('app_logout')}}" class="btn btn-primary"
              style="margin-top:50px; height: 25px; width:70px; background-color: #2D2D3B ; border: none;font-size:15px; font-weight:550; letter-spacing: 0.09em; font-family: Saira Extra Condensed; padding:3px 5px" href="{{ path('home') }}"
              role="button">SALIR</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white"><br /></a></li>
          <li class="nav-item"><a class="nav-link text-white"><br /></a></li>
          <li class="nav-item"><a class="nav-link text-white"><br /><br /></a></li>

        </ul>
      </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid">
      <h1 style="font-size:90px; font-weight: 700; font-family: Saira Extra Condensed; margin-left:100px; margin-top:30px; padding-top:0px">
        SSII
        <span class="text-danger" style="font-size:90px; font-weight: 700; font-family: Saira Extra Condensed;">ETSIDI <img src="{{asset('img/logo_upm.png')}}" class="rounded" height="80" color="white" alt="Responsive image"></span>
      </h1>
      <h5 style="line-height:0; font-family: Saira Extra Condensed;  margin-left:100px;">MANTENIMIENTO-ETSIDI-UPM</h5>

      <div class="text-center" style="margin-top:250px;">
        <h3 style="font-size:30px; font-weight: 700; font-family: Saira Extra Condensed;">Lo sentimos. Estos trabajos aún no están en disposición de ser valorados.</h3>
        <div style="margin-top:430px">
          <h8 style="font-family: Helvetica; font-size:13px">Universidad Politécnica de Madrid ©2020</h8>

        </div>
      </div>
    </div>

    </div>


    <!-- Bootstrap core JS-->
    <script src="{{asset('js/all.js')}}"></script>
    <script src="{{asset('js/exportacion.js')}}"></script>
    <script src="{{asset('js/genPDF.js')}}"></script>
    <script src="{{asset('js/downloadCanvas.js')}}"></script>
    <script src="{{asset('js/html2canvas.js')}}"></script>
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jspdf.min.js')}}"></script>
    <script src="{{asset('js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('js/bootstrap-datepicker.es.min.js')}}"></script>
    <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
    <script src="{{asset('js/coming-soon.min.js')}}"></script>
    <script src="{{asset('js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{asset('js/jquery.easing.min.js')}}"></script>

  </body>

</html>