<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>{% block titulo %}CAU MANTENIMIENTO ETSIDI{% endblock %}</title>

    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/modern-business.css')}}" rel="stylesheet">
    <link href="{{ asset('css/all.css')}}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/google-fonts3.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/google-fonts4.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">


  </head>

  <body>

    <!--MENÚ DE NAVEGACIÓN-->

    <nav class="navbar navbar-dark fixed-top navbar-expand-lg fixed-top text-right bg-danger">
      <div class="container" style="font-family: Saira Extra Condensed;">
        <a class="navbar-brand">
          <img src="{{asset('img/logo_etsidi_mini_negro.png')}}" height="60" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:white" ; data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <pre>        </pre>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link text-white" href="{{ path('portadaUsuario',{'emailcrypt': emailcrypt, 'email': email}) }}"><small><i class="fas fa-home"></i></small></a></h5>
            </li>
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <pre>         </pre>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" <a href="{{path('solicitudesTrabajador')}}" style="font-family: Saira Extra Condensed;">SOLICITUDES<br />ASIGNADAS</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <pre>         </pre>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" <a href="{{path('base')}}" style="font-family: Saira Extra Condensed;">GESTIÓN</a>
            </li>
            <li class="nav-item">
              <pre>        </pre>
            </li>
            <li class="nav-item">
              <pre>       </pre>
            </li>
            {%else%}

            <li class="nav-item">
              <pre>              </pre>
            </li>
            {% endif %}

            <a class="nav-link text-white" <a href="{{path('nuevaSolicitud',{'emailcrypt':emailcrypt, 'email':email})}}" style="font-family: Saira Extra Condensed;">NUEVA SOLICITUD</a>
            <li class="nav-item">
              <pre>               </pre>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{{ path('solicitudesUsuario',{'emailcrypt':emailcrypt, 'email':email}) }}" style="font-family: Saira Extra Condensed;">MIS SOLICITUDES</a>
            </li>

            <li class="nav-item">
              <pre>      </pre>
            </li>
            <li class="nav-item">
              <pre>     </pre>
            <li class="nav-item">
              <pre>       </pre>
            </li>

            <li class="nav-item">
              <a href="{{path('app_logout')}}" class="btn bg-danger"
                style="border-bottom-color:#F4717C;border-top-color:#DC434F;border-left-color:#DC434F;border-right-color:#DC434F;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F54E5C), color-stop(100%,#DC434F)); margin-top:15px;color:white;height: 25px;width:70px;FONT-SIZE: 11pt;padding:0px 10px;font-family: Saira Extra Condensed"
                role="button">SALIR</a>
            </li>

            <li class="nav-item">
              <pre>            </pre>
            </li>

            <li class="nav-item text-right">
              <a class="nav-link text-warning text-right" href="">{{email}}</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--FIN MENÚ DE NAVEGACIÓN-->



    <div class="container-fluid mh-100" style="font-family: Saira Extra Condensed">
      <div style="margin-top:50px">
        <h1 class=" mt-4 mb-3">MIS SOLICITUDES</<h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive-lg">
            <table class="table">
              <thead class="thead-dark">

                <tr>

                  <th scope="col">
                    <h6>Id</h6>
                  </th>
                  <th scope="col">
                    <h6><i class="far fa-hourglass"></i></h6>
                  </th>
                  <th scope="col">
                    <h6>Fecha</h6>
                  </th>
                  <th scope="col">
                    <h6>Estancia</h6>
                  </th>

                  <th scope="col">
                    <h6>Descripcion</h6>
                  </th>

                  <th scope="col">
                    <h6>Valorar</h6>
                  </th>

                </tr>
              </thead>
              <tbody>

                {% for solicitud in solicitudes|sort((a, b) => b.id <=> a.id) %}
                {% if solicitud.estado==2 %}
                <tr style="background-color: lightgrey;">

                  <td>
                    <h5><a href="{{path('solicitud',{'idcrypt':solicitud.idcrypt,'id':solicitud.id})}}" style="color: grey;">{{solicitud.id}}</a></h5>
                  </td>

                  <td>
                    <h5><a href="{{path('cronograma',{'idcrypt':solicitud.idcrypt})}}" style="color: grey;"><small><i class="far fa-hourglass"></i></small></a></h5>
                  </td>

                  <td>
                    <h6><small>{{solicitud.fecha|date('d/m/Y')}}</small></h6>
                  </td>

                  <td>
                    <h6><small>{{solicitud.estancia}}</small></h6>
                  </td>

                  <td>
                    <h6><small>{{solicitud.descripcionIncidencia}}</small></h6>
                  </td>

                  <td>
                    {% if solicitud.valorada==1 %}
                    <h6><small>Solicitud valorada</small></h6>
                    {% endif %}

                    {% if solicitud.valorada==0 %}
                    <a href="{{path('rellenarSatisfaccion',{'idcrypt':solicitud.idcrypt,'email':solicitud.email})}}" class="btn" style="background-color:grey;  background-image: linear-gradient(to bottom, lightgrey, darkgrey);
height:25px;width:45px;FONT-SIZE: 10pt;padding:0px 0px; font-family: Saira Extra Condensed;" role="button">Valorar</a>
                    {% endif %}
                  </td>

                </tr>
                {% else %}
                <tr>

                  <td>
                    <h5><a href="{{path('solicitud',{'idcrypt':solicitud.idcrypt, 'id':solicitud.id})}}">{{solicitud.id}}</a></h5>
                  </td>

                  <td>
                    <h5><a href="{{path('cronograma',{'idcrypt':solicitud.idcrypt})}}"><small><i class="far fa-hourglass"></i></small></a></h5>
                  </td>

                  <td>
                    <h6><small>{{solicitud.fecha|date('d/m/Y')}}</small></h6>
                  </td>

                  <td>
                    <h6><small>{{solicitud.estancia}}</small></h6>
                  </td>

                  <td>
                    <h6><small>{{solicitud.descripcionIncidencia}}</small></h6>
                  </td>

                  <td>
                    <h6><small>Trabajos pendientes</small></h6>
                  </td>
                </tr>
                {% endif %}

                {% endfor %}

              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
    <div class="col text-center sticky-bottom">
      <h8 style="font-family: Helvetica; font-size:13px"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Universidad Politécnica de Madrid ©2020</h8>
    </div>




    <!-- Bootstrap core JavaScript -->
    <script src="{{asset('js/exportacion.js')}}"></script>
    <script src="{{asset('js/genPDF.js')}}"></script>
    <script src="{{asset('js/downloadCanvas.js')}}"></script>
    <script src="{{asset('js/html2canvas.js')}}"></script>
    <script src="{{asset('js/jquery.min.js')}}"></script>
    <script src="{{asset('js/jspdf.min.js')}}"></script>
    <link href="{{ asset('js/bootstrap-datepicker.min.js')}}" rel="stylesheet">
    <link href="{{ asset('js/bootstrap-datepicker.es.min.js')}}" rel="stylesheet">
    <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </body>

</html>